/*Body*/

body{

  font-family: 'Merienda', cursive;
  text-align: center;

}

/* Navigation Bar */

.flag{
  
  margin-top: 10px;
  margin-left: 0px !important;
  
} 

.nav-item{

margin-left: 20px;

}

/* Welcome */

.carousel-caption{

top: 400px !important;

} 

/* Restaurant */

#restaurant{

margin: 0px 200px;

}

.restaurant-heading{

margin-top: 70px;
margin-bottom: 30px;

}

.restaurant-content1{

text-align: left;

}

/*.img-one{

float: right;


} */