/*Body*/

body{

  font-family: 'Merienda', cursive;
  text-align: center;
  font-size: 15px;
  line-height: 1.5;

}

/* Navigation Bar */

.flag{
  
  margin-top: 10px;
  margin-left: 0px !important;
  
} 

.nav-item{

margin-left: 20px;

}

/* Welcome */

.carousel-caption{

top: 400px !important;

} 

/* Restaurant */

#restaurant{

margin: 0px 200px;

}

.restaurant-heading{

margin-top: 70px;
margin-bottom: 30px;

}

.restaurant-content1{

text-align: left;
padding-left: 15px;
padding-right: 15px;


}

.img-one{
  width: 50%;
}

.restaurant-content2{

  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  
  }

  /* Menu */

#menu{

  margin: 0px 200px;
  
  }
  
  .menu-heading{
  
  margin-top: 70px;
  margin-bottom: 30px;
  
  }

  .card{

    padding-left: 0px;
    padding-right: 0px;
  

  } 

  .card-title{

   text-align: left;
   margin-top: 15px;
   margin-bottom: 15px;

  }

  .list-group{

    text-align: left;

  }

  .zoom:hover {
    transform: scale(1.5);
  }