/*Body*/

body{

  font-family: 'Merienda', cursive;
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  }

/* Navigation Bar */

.flag{
  
  margin-top: 10px;
  margin-left: 0px !important;
  } 

.navbar-collapse{
  text-align: right;
}

.nav-item{

margin-left: 20px;
}

/* Welcome */

.margin-alignment{
  width: 70%;
  margin: auto;
}

.carousel-inner{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.carousel-caption{

top: 400px !important;
} 

/* Restaurant */

.restaurant-heading{

margin-top: 70px;
margin-bottom: 30px;
}

.restaurant-content1{

text-align: left;
padding-left: 15px;
padding-right: 15px;
}

.img-one{
  width: 50%;
}

.restaurant-content2{

  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}

  /* Menu */

  .menu-heading{
  
  margin-top: 70px;
  margin-bottom: 30px;
}

  .card{

    padding-left: 0px;
    padding-right: 0px;
} 

  .card-title{

   text-align: left;
   margin-top: 15px;
   margin-bottom: 0px;
   padding-left: 12px;
}

  .card-img-top{

    height: 200px;
}

  .list-group{

    text-align: left;
    padding: 12px 20px 12px 20px;
}

  .card-body{
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 1.25rem;
}

/* Reservation */

.reservation-heading{

  margin-top: 70px;
  margin-bottom: 30px;
}

.reserve-img{

 opacity: 0.4;
}

.reserve-content1{

  position: relative;
}

.reserve-text{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-center{
  text-align: center;
}

.form-section{
text-align: left;
}

.form-row{
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 16px;
}

label{
  margin-bottom: 0.5rem;
}

/* Location */

.location-heading{
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: center;
  }

.container{
  text-align: left;
}

.address{
  text-align: left;
  padding-left: 10px;
}

.col-9{
  padding-left: 0px;
  padding-right: 15px;
}

/* @media only screen and (max-width: 768px) {
  /* For mobile phones: */
  /* [class*="col-"] {
    width: 100%;
  } */
  
  /* [class*="col-4 "]{
    width: 100%;
  }
  [class*="col-6"]{
    width: 50%;
  }
  [class*="col-9"]{
    width: 100%;
  }
  [class*="col-3"]{
    width: 100%;
  }
} */ 




/* Footer */

.footer-section{
  margin-top: 20px ;
  margin-bottom: 30px;
}

.social-icon{
  font-size: 25px;
}

.footer-text{
  display: inline-block;
}

.footer-col{
  margin-top: 15px;
}

.footer-col1{
  margin-top: 20px;
}